
.toggler {
    display: none;
    @media screen and (max-width: 1024px) {
    padding: 1em;
    display: inline-block;
    position: relative;
    z-index: 80;
    & svg {
        fill: $body-color;
    }
    }
}

.dropdown {
    position: relative;
    background-color: transparent;
    @include flex ($align-items: center, $justify-content: center);
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0;
    z-index: 2;
    opacity: 1;
    transform: translate(0, 0) scale(1);

    @media screen and (max-width: 1021px){
        will-change: transform;
        padding: 50px 0 0;
        @include posA($top: 0, $left: null, $delta_x: null, $delta_y: null);
        right: 0; 
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-color: $primary-color;
        opacity: 0;
        transform-origin: calc(100% - 15px) 15px;
        transform: translate(0, 0) scale(.1);
        @include tr(.5s);
        .menu-opened & {
        z-index: 2;
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}
   
}

.menu {
    margin: 0;
    list-style: none;
    &__link {
        padding: .25em 0;
        display: inline-block;
        color: $body-color;
        text-decoration: none;
        font-size: 1.2em;
        @include hover {
            color: $primary-color;
        }
        .dropdown & {
            padding: 1em;
        }
    }
}

.menu-opened {
    overflow: hidden;
}
