@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


$title-ff: 'Aleo', serif;
$body-ff: 'Josefin Sans', sans-serif;
$logo-ff: 'Josefin Sans', sans-serif;
$btn-ff: 'Aleo', serif;
$bloquote: 'Playfair Display', serif;

$body-color: #fff;
$primary-color: #5474fd;
$secondary-color: #232323;
$icon-color: #ff6363;
$blue-icon-color: #00a2ff;
$grey-color:#333333;
$medium-grey:#999999;
$light-grey:#e8e8e8;

// $container-width: 1110px;

$border-width:2px;

$body-bg: $secondary-color;

$social-size: 15px;